body {
    background: #ffe25f;
    background: linear-gradient(to right, #ffa751, #ffe259);
}

.bg {
    background-image: url(/registro/images/Hamster_img.jpg);
    background-position: center center;
}

.aviso {
    text-align: center;
    font-size: 1.3rem;
    padding-top: 1rem;
}

.d-grid .btn {
    background-color: #d45079;
    border-color: #d45079;
}

.d-grid .btn:hover {
    background-color: #ac3e61;
    border-color: #ac3e61;
}
