body {
    background: #ffe25f;
    background: linear-gradient(to right, #ffa751, #ffe259);
}

.bg {
    background-image: url(/registro/images/Hamster_img.jpg);
    background-position: center center;
}

.my-3 span{
    text-decoration: none;
}

.aviso {
    text-align: center;
    font-size: 1.3rem;
    padding-top: 1rem;
}
